html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
    cursor: default;
}

@colorLeft: #0e0415;
@colorRight: #730c1d;

body{	
	overflow: hidden;
	background: @colorRight;
	background: -webkit-linear-gradient(to right, @colorLeft, @colorRight);
	background: linear-gradient(to right, @colorLeft, @colorRight);
	
	font-family: "Noto Serif JP";
	color: white;
	
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
}

@skipIntro: 0; // 0 = False, 1 = True
@duration: 4s;

#homeContainer{
	width: 100%;
	height: 50%;
	
	opacity: 1 - @skipIntro;
	
	transition-property: opacity;
	transition-duration: 3s;
	transition-delay: 8s;
	
	
	#homeTitle{
		font-size: 5em;
		text-align: center;
		margin: 0 auto 2% auto;
		transition-property: opacity;
		transition-duration: @duration;
	}
	#homeSubtitle{
		font-size: 2.2em;
		text-align: center;
		margin: 0;
		transition-property: opacity;
		transition-duration: @duration;
		transition-delay: 2s;
	}
	#homeTitleFooter{
		font-size: 1em;
		font-style: italic;
		margin: 10% 0 0 0;
		text-align: right;
		transform: translate(-300px);
		transition-property: opacity, transform;
		transition-duration: @duration;
		transition-delay: 4s;
	}
}

#poemContainer{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
		
	opacity: @skipIntro;
	
	transition-property: opacity;
	transition-duration: 3s;
	transition-delay: 10s;
	
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	
	#githubRepo{
		position: absolute;
		top: 10px;
		left: 10px;
	}
	
	#instaAccount{
		position: absolute;
		top: 9px;
		left: 60px;
	}
	
	#offset{
		align-self: center;
	}
	
	#poem{
		align-self: center;
		position: relative;
		width: 0;
		height: 100px;
	}
	
	#text{
		white-space: nowrap;
		margin-left: 50%;
		transform: translateX(-50%);
		position: absolute;
		top: 0;
		left: 0;
	}
	
	#textFake{
		white-space: nowrap;
		margin-left: 50%;
		transform: translateX(-50%);
		position: absolute;
		top: 0;
		left: 0;
	}
	  
	#back{
		font-size: 3em;
		color: #c5d644;
		align-self: center;
		opacity: 0;
		transition: opacity 1s;
	}
	  
	.hidden{
		opacity: 0;
	}
	  
	.hide{
		opacity: 0;
		transform: translateX(-50%) !important;
		transition: opacity 1s;
	}
	
	.show{
		opacity: 1 !important;
		transition: opacity 1s 0.5s;
	}
	
	.link{
		color: #c5d644;
		font-style: italic;
		cursor: pointer;
	}
}


.hidden{
	opacity: 0;
}